body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container-movie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    margin: 0 auto;
}

.movies {
    display: flex;
}

h4 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-family:'Times New Roman', Times, serif;
}

.poster-preview {
    display: flex;
    width: 180px;
    height: auto;
    object-fit: cover;
    margin-right: 5px; 
}

.poster-container {
    flex-shrink: 0;
}

.search-movie {
    width: 100%;
    border-radius: 5px;
}

.dropdown {
    width: 8%;
}

.table-responsive {
    flex: 55%;
    font-family: 'Times New Roman', Times, serif;
    border-right: 1px solid #ccc;
}

.table-details {
    display: flex;
    flex: 45%;
    margin-left: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap:break-word;
}

tr {
    text-wrap: nowrap;
    cursor: pointer;
}

.movie-details {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap:break-word;
}

.movie-details-container {
    flex-grow: 1;
}

.ratings {
    display: flex;
    max-width: 90%;
    justify-content:space-between;
    align-items: center;
}

.average {
    display: flex;
    justify-content: flex-start;
}

.star {
    padding-left: 1rem;
}

.rating-box {
    background-color: rgb(208, 241, 241);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}
