body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-movie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    margin: 0 auto;
}

.movies {
    display: flex;
}

h4 {
    font-family:'Times New Roman', Times, serif;
}

.search-movie {
    width: 100%;
    border-radius: 5px;
}

.dropdown {
    width: 8%;
}

.table-responsive {
    /* width: 70%; */
    flex: 55%;
    font-family: 'Times New Roman', Times, serif;
    border-right: 1px solid #ccc;
    /* flex-wrap: nowrap; */
}

.table-details {
    flex: 45%;
    margin-left: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap:break-word;
    /* max-width: 40%; */
    /* flex-wrap: wrap; */
}

tr {
    text-wrap: nowrap;
    cursor: pointer;
}

.movie-details {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap:break-word;
    /* max-width: 40%; */
    /* margin: 0;
    padding: 0; */
}